:root {
	--color-bg: #B0B0B0;
	--color-txt1: black;
	--color-txt2: #292929;
	--color_txt3: #666666;
}

html {
    margin: 0;
    padding: 0;
}
body {
    font-size: 300%;
    background-color: var(--color-bg);
	color: var(--color-txt1);
    padding: 0px;
    margin-left: 6%;
	margin-right: 6%;
	margin-top: 10%;
	margin-bottom: 0px;
	text-align: center;
}

b {
	font-size: 140%;
	font-weight: 800;
}

a:link {
    color: var(--color-txt1); 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: var(--color-txt1);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: var(--color-txt2);
    background-color: transparent;
    text-decoration: none;
	font-size: 120%;
	line-height:18pt;
}

a:active {
    color: var(--color-txt3);
    background-color: transparent;
    text-decoration: none;
}

.titulo  {
	text-align: right;
	font-size: 280%;
	font-weight: 500;
	margin-bottom: -8%;
	margin-right: calc(var(--rand3)*35%);
}
.pagina {
	text-align: left;
	font-size: 180%;
	font-weight: 400;
	margin-bottom: -10%;
	margin-left: calc(var(--rand2)*24%);
}
.pagina2 {
	text-align: left;
	font-size: 180%;
	font-weight: 400;
	margin-bottom: -10%;
	margin-left: calc(var(--rand1)*30%);
}
